@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  transition: all ease 0.4s;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  background-color: #FF5959;
  padding: 10px 25px;
  border: none;
  margin: 0.8rem;
  border-radius: 5px;
}
.btn a {
  color: #fff;
  font-weight: 600;
}

#bannar {
  background-image: linear-gradient(rgba(18, 18, 18, 0), rgba(18, 18, 18, 0.8039215686)), url(../img/donation1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#bannar .container .bannar-content {
  align-items: center;
  padding: 10rem 5rem 5rem 5rem;
  text-align: center;
}
#bannar .container .bannar-content h1 {
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  padding: 0 5rem;
}
#bannar .container .bannar-content p {
  color: #fff;
  font-size: 1.1rem;
}

#donate-today {
  padding: 7rem;
}
#donate-today .container .donate-content {
  text-align: center;
}
#donate-today .container .donate-content h1 {
  color: #121212;
}
#donate-today .container .donate-content p {
  color: #707070;
}
#donate-today .amount-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
#donate-today .card {
  background-color: #FAFAFA;
  padding: 3rem;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
}
#donate-today .card h2 {
  color: #707070;
}
#donate-today .card:hover {
  background-color: #FFEEEE;
  border: 1px solid #FF5959;
}
#donate-today .card:hover h2 {
  color: #FF5959;
}
#donate-today .donate-form {
  margin-top: 3rem;
}
#donate-today .donate-form input {
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #DADADA;
  text-align: center;
  width: 50%;
}

#donate-plan {
  padding: 0 7rem 7rem 7rem;
  text-align: center;
}
#donate-plan .donate-plan-content h1 {
  color: #121212;
  font-size: 2rem;
}
#donate-plan  .donate-plan-content p {
  color: #707070;
}
#donate-plan .donate-plan-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}
#donate-plan .card {
  text-align: left;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
}
#donate-plan .card img {
  padding: 10px 0;
}
#donate-plan .card h4 {
  padding: 0 0 10px 0;
  color: #121212;
}
#donate-plan .card p {
  color: #707070;
  padding: 0 0 10px 0;
}
#donate-plan .card-1 {
  background-color: rgba(79, 157, 166, 0.3333333333);
}
#donate-plan .card-2 {
  background-color: rgba(255, 89, 89, 0.2352941176);
}
#donate-plan .card-3 {
  background-color: rgba(253, 225, 146, 0.6431372549);
}

#first-contribute .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 4rem;
}
#first-contribute .text-content {
  padding: 0 4rem 0 0;
}
#first-contribute .text-content h1 {
  font-size: 2rem;
  color: #121212;
  margin-bottom: 1rem;
}
#first-contribute .text-content p {
  color: #707070;
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}
#first-contribute .btn {
  margin-left: 0;
}
#first-contribute .image {
  width: 70%;
  overflow: hidden;
}
#first-contribute .image img {
  width: 100%;
  border-radius: 5px;
}

#secand-contribute {
  margin-top: 3rem;
}
#secand-contribute .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 4rem;
}
#secand-contribute .container .image {
  width: 70%;
  overflow: hidden;
}
#secand-contribute .container .image img {
  width: 100%;
  border-radius: 5px;
}
#secand-contribute .text-content {
  padding: 0 0 0 4rem;
}
#secand-contribute .text-content h1 {
  font-size: 2rem;
  color: #121212;
  margin-bottom: 1rem;
}
#secand-contribute .text-content p {
  color: #707070;
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}
#secand-contribute .btn {
  margin-left: 0;
}
#payment {
  margin: 2rem 0;
  text-align: center;
}
#payment .pay-content-header h1 {
  color: #121212;
  font-size: 2rem;
}
#payment .pay-content-header p {
  color: #707070;
}
#payment .payment-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
}
#payment .payment-container .pay-card {
  width: 20vw;
  background-color: #FAFAFA;
  overflow: hidden;
  padding: 2rem;
  border-radius: 5px;
}
#payment .payment-container .pay-card img {
  width: 50%;
  height: 50%;
}
#payment .payment-container .pay-card h3 {
  color: #0B0D17;
}
#payment .payment-container .pay-card:hover {
  background-color: #FFEEEE;
  border: 1px solid #FF5959;
}
#payment .payment-container .pay-card:hover h3 {
  color: #FF5959;
}



#my-update {
  margin-top: 3rem;
}
#my-update .content-header {
  text-align: center;
  padding: 0 15rem;
}
#my-update .content-header h1 {
  color: #121212;
  font-size: 2rem;
}
#my-update .content-header p {
  color: #707070;
  font-size: 1.1rem;
}
#my-update .input-section {
  padding: 2rem 1rem;
  width: 600px;
  background-color: #FFF4D6;
  border-radius: 5px;
  margin: 2rem auto;
}
#my-update .form-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#my-update .email {
  padding: 5px 10px;
  border: none;
  background-color: #D9D9D9;
  border-radius: 5px 0 0 5px;
}
#my-update .btn-email {
  background-color: #FF5959;
  border: none;
  padding: 10px 10px;
  border-radius: 0 5px 5px 0;
}
#my-update .btn-email a {
  color: #ffffff;
}
#my-update .form-control ::-moz-placeholder {
  color: #AA9F9F;
}
#my-update .form-control :-ms-input-placeholder {
  color: #AA9F9F;
}
#my-update .form-control ::placeholder {
  color: #AA9F9F;
}

#footer {
  background-color: #0B0D17;
}
#footer .container {
  padding: 3rem 0;
  text-align: center;
}
#footer .container h1 {
  font-family: "Lobster", cursive;
  color: #FF5959;
}
#footer .container small {
  font-size: 0.7rem;
  color: #D9DBE1;
}